<header class="header">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light center_header">
			<a class="navbar-brand" href="{{ url_for('index') }}">
				<img id="logo" src="{{ url_for('static', filename='images/icon.png') }}">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse header-right" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('index') }}">首頁</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="{{ url_for('hot') }}">暢銷榜</a>
					</li>
					<li class="nav-item dropdown">
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>